html {
    background-color: #ede8f7;
    background-image:
        linear-gradient(to bottom, rgba(241, 215, 215, 0.5), rgba(188, 188, 230, 0.5)),
        radial-gradient(#b4b0b0 0.1px, transparent 0.9px);
    background-size:
        100vh 100vh,
        10px 10px;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
}

.page-content {
    margin: 5rem;
}

.social {
    display: none;
}

@media screen and (min-width: 636px) {
    .social {
        display: inline-block;
    }
}