html {
    background-color: #ede8f7;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
}

.social {
    display: none;
}

@media screen and (min-width: 636px) {
    .social {
        display: inline-block;
    }
}