---

---

<html lang="jn">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio - Suzuki Shuntaro</title>
	</head>
	<body>
		<h1>Portfolio - Suzuki Shuntaro</h1>

		<h2>20 y.o.</h2>
		<h2>所属: 北海道大学 工学部 情報エレクトロニクス学科 情報理工学コース</h2>
		<h2>lang: Rust, C, C++, Python, Haskell, Java, TypeScript, ..</h2>
		<h2>location: Sapporo, Hokkaido, Japan</h2>
		<h2>projects:</h2>
		<ul>
			<div>
				<p>看護勤務表生成ツール</p>
			</div>
			<div>
				<p>地図の場所当てWebゲーム</p>
			</div>
		</ul>
	</body>
</html>
