---
import Project from "../components/Project.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Portfolio - Suzuki Shuntaro">
	<h2>20 y.o.</h2>
	<h2>所属: 北海道大学 工学部 情報エレクトロニクス学科 情報理工学コース</h2>
	<h2>lang: Rust, C, C++, Python, Haskell, Java, TypeScript, ..</h2>
	<h2>location: Sapporo, Hokkaido, Japan</h2>
	<h2>projects:</h2>
	<ul>
		<Project title="看護勤務表生成ツール" url="/projects/kinmu" />
		<Project title="地図の場所当てWebゲーム" url="/projects/chiris" />
	</ul>
</BaseLayout>
