---
import Project from "../components/Project.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Portfolio - Suzuki Shuntaro">
	<h1>Suzuki Shuntaro</h1>
	<h2>20 y/o</h2>
	<h2>北海道大学 工学部 情報エレクトロニクス学科 情報理工学コース</h2>
	<h2>Rust, C, C++, Python, Haskell, Java, TypeScript, ..</h2>
	<h2>Sapporo, Hokkaido, Japan</h2>
	<h2>Projects:</h2>
	<ul class="projects">
		<Project
			title="kinmu"
			subtitle="看護勤務表生成ツール"
			period="2024年4月~現在"
			url="/projects/kinmu"
			imgSrc="project_images/kinmu.png"
		/>
		<Project
			title="地理S"
			subtitle="地図の場所当てWebゲーム"
			period="2025年3月"
			url="/projects/chiris"
			imgSrc="project_images/chiris.png"
		/>
	</ul>
</BaseLayout>

<style>
	.projects {
		display: flexbox;
	}

	ul{
		padding: 0;
		margin:0;
	}
</style>
