---
import Social from "./Social.astro";
---

<div class="header">
    <a class="icon" href="/">
        <img
            src="/icon_no_frame_square_transparent.png"
            width="40"
            height="40"
        />
    </a>
    <Social
        platformName="GitHub"
        username="unsharot"
        url="https://github.com"
    />
    <Social
        platformName="Twitter"
        username="sh_unnnn_taro"
        url="https://x.com"
    />
    <Social
        platformName="AtCoder"
        username="sh_unnnn_taro"
        url="https://atcoder.jp/users"
    />
</div>

<style>
    .header {
        padding: 0.5rem;
        background-color: rgb(2, 2, 22);
        margin: 0;
        display: flex;
    }

    .icon {
        margin: 0rem 1rem;
    }
</style>
