---
const { platformName, username, url } = Astro.props;
---

<a href={`${url}/${username}`}>{platformName}({username})</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
    }
</style>
