---
const { platformName, username, url } = Astro.props;
---

<a class="social" href={`${url}/${username}`}>{platformName}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
        margin: 0.1rem 0.5rem;
        border-radius: 0.3rem;
    }

    a:hover {
        background-color: rgb(5, 55, 51);
    }
</style>
