---
const { platformName, username, url } = Astro.props;
---

<a class="social" href={`${url}/${username}`}>{platformName}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: white;
        text-decoration: none;
    }
</style>
