---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <h1>{frontmatter.title}</h1>
    <p>最終更新: {frontmatter.lastUpdate}</p>
    <slot />
</BaseLayout>
